*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body{
    background-color: #e5e7eb;
}

.container{
    position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
	border-radius: 14px;
	padding-bottom: 20px;
	width: 450px;
    height: 550px;
}
.container .output{
    display: flex;
    width: 320px;
    height: 120px;
    background-color: #FF0509;
    border-radius: 14px;
    align-items: center;
        justify-content: end;
    word-wrap: break-word;
        word-break: break-all;
    padding-right: 10px;
  }

.container .output .previous-operand{
    color: white;
    font-size: 3.5rem;
    font-weight: 700;
}  
.container .output .current-operand{
    color: white;
    font-size: 3.5rem;
    font-weight: 700;
}  

.container .clear{
    position: absolute;
    border-radius: 50%;
    border: none;
    width: 85px;
    height: 85px;
    top: 20px;
    right: 35px;
    font-size: 30px;
    font-weight: 600;
    background-color: #FF0509;
    color: white;
}

.container .result{
    display: flex;
    
}

.container .result #result{
    position: absolute;
    border-radius: 10px;
    right: 125px;
    width: 300px;
    height: 120px;
    background-color: #FF0509;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    text-align: right;
    font-size: 80px;
    
}

input[type=text] {
	width: 270px;
	height: 60px;
	float: left;
	padding: 0;
	box-sizing: border-box;
	border: none;
	background: none;
	color: #ffffff;
	text-align: right;
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;
	margin: 0 25px;
	
}

.container .row-1{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.container .row-1 button{
    border-radius: 50%;
    background-color: #ecedef;
    border: none;
    width: 85px;
    height: 85px;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #5E5858;
}

.container .row-2{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.container .row-2 button{
    border-radius: 50%;
    background-color: #ecedef;
    border: none;
    width: 85px;
    height: 85px;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #5E5858;
}
.container .row-3{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.container .row-3 button{
    border-radius: 50%;
    background-color: #ecedef;
    border: none;
    width: 85px;
    height: 85px;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #5E5858;
}
.container .row-4{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.container .row-4 button{
    border-radius: 50%;
    background-color: #ecedef;
    border: none;
    width: 85px;
    height: 85px;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #5E5858;
}
.container .row-4 .span-two{
    border-radius: 50%;
    background-color: #ecedef;
    border: none;
    width: 85px;
    height: 85px;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    background-color: #FF0509;
    color: white;
}